# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.actionScriptProperties
server-backup
tournaments/10009/01 We'll Live And Die Tonight.m4a
tournaments/10009/02 Bad Attitudes Can't Change The We.m4a
tournaments/10009/03 Take Me Away.m4a
tournaments/10009/04 I Bet You've Never Seen A Boy Dra.m4a
tournaments/10009/05 I've Been Feeling Strange Recentl.m4a
tournaments/10009/06 Welcome To The Land Of The Looker.m4a
AppStoreShots.psd
AppStoreShotsIPhone.psd
AppStoreShotsIPhone4.psd
audio
